/*------------------------------------------------------------------
Primary use:    FAQ.css used to style FAQ page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Layout]
-------------------------------------------------------------------*/

.FAQ-container{
    padding-bottom: 10px;
}

.form-container{
    margin-top: 20px;
    margin-left: 50px;
    height: 350px;
}

@media screen and (max-width: 768px){
    .form-container{
        padding-left: 0px;
    }
}